<div class="heading secondary-header">All Trees</div>

<div class="gallery">
    <% @all_trees.each do |t| %>
        <%= link_to tree_path(t) do %>
            <%= image_tag t.image, class: "gallery-image"%>
        <% end %>
    <% end %>
</div>