<div class="heading secondary-header"> <%= @tree.common_name %> </div>

<div class="wrapper">
    <img class="tree-image" src=<%= @tree.image %>>
    <p>Scientific name: <span class="sci-name"><%= @tree.binomial_name %><span></p>
    <p>Category: <%= @tree.category %></p>
</div>